  *{
    margin:0;
    padding: 0;
  }

  body{
    width: 100%;
    height: 100vh;
    background-color: greenyellow;
    margin-top: 8vh;
  }

  #title h1{
    margin-left: 5vw;
  }
  /* 创建2个不相等的列 */
  .column {
    float: left;
    margin-top: 10vh;
    /* margin-left: 3vw; */
    width: 45%;
  }

  /* .column.side{
    width: 35%;
  }
  .column.main{
    width: 55%;
  } */
   
  /* 响应式布局 - 小于 600 px 时改为上下布局 */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .column.side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw;
  }
  .text-align{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .text-align div{
    margin-right: 4vw;
  }

  #text{
    width: 30vw;
  }

  #next{
    font-size: large;
    font-weight: bolder;
    margin-top: 3vh;
  }

  #canvas-container {
    width: 45vw;
    height: 45vh;
    background-image: url("/test.png") ;
    background-size: cover;
    border: 1px solid black;
  }
  section{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  section .section-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.5s, transform 0.5s;
  }

  section .section-item .a{
    font-size: larger;
    font-weight: bold;
    top: 0;
    opacity: 1;
    transition: top 0.5s, opacity 0.5s;
  }

  /* cut text */
  section .section-item .a:nth-child(1){
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 51%, 0% 51%);
  }

  section .section-item .a:nth-child(2){
    position: relative;
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  }

  /* begin effect */
  section:hover .section-item{
    filter: blur(10px);
    transform: scale(0.8);
    transition: filter 0.5s, transform 0.5s;
  }

  /* cancel effect */
  section .section-item:hover{
    filter: blur(0px);
    transform: scale(1.1);
    transition: filter 0.5s, transform 0.5s;
  }

  /* moving & fading */
  section .section-item:hover .a:nth-child(1){
    top:-20px;
    opacity: 0.5;
    transition: top 0.5s, opacity 0.5s;
  }

  section .section-item:hover .a:nth-child(2){
    top:20px;
    opacity: 0.5;
    transition: top 0.5s, opacity 0.5s;
  }

  /* a elements */
  section .section-item a{
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
  }

  section .section-item:hover a{
    opacity: 1;
    transition: opacity 0.5s;
  }


  a{
    text-decoration: none;
  }

  /* unvisited link */
    a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  #text a{
    background-color: yellow;
    font-weight: bolder;
  }