*{
    margin:0;
    padding: 0;
  }

  body{
    width: 100%;
    background-color: black;
    color:white;
  }

  .header{
    padding: 1% 3% 1% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: small;
  }

  section .section-item{
    margin-left:3vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.5s, transform 0.5s;
  }

  section .section-item .a{
    font-size: larger;
    font-weight: bold;
    top: 0;
    opacity: 1;
    transition: top 0.5s, opacity 0.5s;
  }

  /* cut text */
  section .section-item .a:nth-child(1){
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 51%, 0% 51%);
  }

  section .section-item .a:nth-child(2){
    position: relative;
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  }

  /* begin effect */
  section:hover .section-item{
    /* filter: blur(10px); */
    transform: scale(0.8);
    transition: filter 0.5s, transform 0.5s;
  }

  /* cancel effect */
  section .section-item:hover{
    /* filter: blur(0px); */
    transform: scale(1.1);
    transition: filter 0.5s, transform 0.5s;
  }

  /* moving & fading */
  section .section-item:hover .a:nth-child(1){
    top:-20px;
    opacity: 0.5;
    transition: top 0.5s, opacity 0.5s;
  }

  section .section-item:hover .a:nth-child(2){
    top:20px;
    opacity: 0.5;
    transition: top 0.5s, opacity 0.5s;
  }

  /* a elements */
  section .section-item a{
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
  }

  section .section-item:hover a{
    opacity: 1;
    transition: opacity 0.5s;
  }

  .main{
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .main canvas{
    width: 94vw;
    height: 70vh;
    background: url(./scene.png);
    border: 1px solid white;
  }

  #description{
    padding-top: 1%;
    width: 70vw;
    line-height: 140%;
  }

  #description a{
    background-color: yellow;
  }
  
  a{
    color: black;
    text-decoration: none;
  }

  /* unvisited link */
  a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }